.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 570px;
  height: 290px;
  position: relative;
  margin: 10% auto;
  padding: 0;
  background-color:#1f0e3a;
}

.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  margin-top: 25px;
  margin-right: 20px;
  background: #bdb7b7;
  font-size: 16px;
  color: #8d0000;
  border-radius: 0;
  box-shadow: 5px 3px black;
}



.faixa {
  background-color: #460fa0;
  width: 100%;
  height: 40px;
}

.texto {
  font-family: 'Jockey One', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin: 30px 5px 0px 5px;
}

.botaoCadastra {
  width: 100px;
  height: 40px;
  background-color: #460fa0;
  border: none;
  text-align: center;
  border-radius: 2px;
  margin: 50px 0px 0px 230px;
  color: #fff;
  text-decoration: none;
}