body {
  width: 100%;
  height: 100vh;
  background-color: #1f0e3a;
}

.cabecalho {
  background-color: #460fa0;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.cabecalho .botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.cabecalho .botoes .logo {
  width: 87px;
  height: 90px;
  padding-top: 5px;
}

.cabecalho .botoes .link {
  background-color: #83519a;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 170px;
  height: 50px;
  margin-top: 25px;
  gap: 5px;
  border-radius: 10px;
}

.cabecalho .botoes .link img {
  margin-left: 5px;
}

.cabecalho .botoes .link p {
  margin-top: 2px;
  color: white;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
}
.cabecalho .botoes  .sairpg {
  padding-left: 30px;



}

.cabecalho .botoes button img {
  width: 90px;
  height: 70px;
  font-family: 'Jockey One', sans-serif;
}

.cabecalho .bailao {
  display: flex;
  flex-direction: row;
}

.cabecalho .cadastrese {
  background-color: #83519a;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 170px;
  height: 50px;
  margin-top: 25px;
  gap: 5px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  margin-right: 15px;
}

.cabecalho .cadastrese a {
  text-decoration: none;
  color: white;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  padding-left: 15px;
}

.cabecalho .login {
  background-color: #83519a;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 170px;
  height: 50px;
  margin-top: 25px;
  gap: 5px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  margin-right: 15px;
}

.cabecalho .login a {
  text-decoration: none;
  color: white;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  padding-left: 48px;
}

.corpo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.escopo {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.corpo .noticias {
  margin: 0px auto;
  width: auto;
  height: 500px;
  border-radius: 3px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 1rem 2rem;
  padding: 1.2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px -2px;
  transition: background-color 1s ease 0s;
}

.corpo .noticias .destaque {
  grid-area: 1 / 1 / 3 / 2;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.corpo .noticias .destaque .div_destaque {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  border-radius: 3px;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.corpo .noticias .destaque .div_destaque:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.corpo .noticias .destaque .div_destaque .textos_destaques {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.6rem;
  margin-right: 2rem;
}

.corpo .noticias .destaque .div_destaque .textos_destaques span {
  margin-bottom: 1rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  text-transform: uppercase;
  font-family: Bold, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(150, 73, 242);
  border-top-color: rgb(150, 73, 242);
  border-right-color: rgb(150, 73, 242);
  border-left-color: rgb(150, 73, 242);
}

.corpo .noticias .destaque .div_destaque .textos_destaques h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
}

.corpo .noticias .secundaria {
  grid-column: 2 / 3; 
  grid-row: initial
}

.corpo .noticias .secundaria .div_secundaria {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  border-radius: 3px;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.corpo .noticias .secundaria .div_secundaria:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.corpo .noticias .secundaria .div_secundaria .texto_secundario {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.6rem;
  margin-right: 2rem;
}

.corpo .noticias .secundaria .div_secundaria .texto_secundario span {
  margin-bottom: 1rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  text-transform: uppercase;
  font-family: Gotham Bold sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(150, 73, 242);
  border-top-color: rgb(150, 73, 242);
  border-right-color: rgb(150, 73, 242);
  border-left-color: rgb(150, 73, 242);
}

.corpo .noticias .secundaria .div_secundaria .texto_secundario h3 {
  color: white;
  font-family: Gotham Black sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
 
.corpo .noticia_com_info {
  display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      min-width: 100%;
      max-width: 700px;
}

.corpo .noticia_com_info a {
  text-decoration: none;
}

.corpo .noticia_com_info a .noti_com_leitura {
  width: 96%;
  height: 250px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px -2px;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 2rem 4fr 1fr;
  cursor: pointer;
  transition: background-color 1s ease 0s;
  margin-top: 2rem;
  margin-left: 19px;
}

.corpo .noticia_com_info a .noti_com_leitura picture {
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.corpo .noticia_com_info a .noti_com_leitura .noti_textos {
  grid-area: 1 / 8 / -1 / -1;
            padding: 1rem 0px;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: justify;
            justify-content: space-between;
            border-bottom: 5px solid rgb(165, 165, 165);
            border-top-color: rgb(165, 165, 165);
            border-right-color: rgb(165, 165, 165);
            border-left-color: rgb(165, 165, 165);
}

.corpo .noticia_com_info a .noti_com_leitura .noti_textos div span {
  margin: 1rem 2rem;
  color: rgb(165, 165, 165);
  font-family: Gotham Bold sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.corpo .noticia_com_info a .noti_com_leitura .noti_textos div h4 {
  margin: 1rem 2rem;
  font-family: Gotham Black sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  border-bottom: 1rem;
  color: rgb(22, 22, 22);
  transition: color 0.1s ease 0s;
}

.corpo .noticia_com_info a .noti_com_leitura .noti_textos div p {
  margin: 1rem 2rem;
  font-family: Gotham Medium sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: rgb(84, 84, 84);
  transition: color 1s ease 0s;
}

.corpo .noticia_com_info a .noti_com_leitura .noti_textos .data span {
  margin: 0px 2rem;
  font-size: 1.2rem;
  font-family: gotham Mediumsans-serif;
  align-self: end;
  color: rgb(22, 22, 22);
  transition: color 0.1s ease 0s;
  grid-column: 12 / -1;
  text-transform: capitalize;
}